.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	.content {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: cornflowerblue;
		color: whitesmoke;
		height: 180px;
		min-width: 180px;
		margin-right: 1em;
		margin-bottom: 1em;
		// margin-left: 1em;
		.innerText {
			display: inline-block;
			// margin: auto;
		}
	}
	.content:hover {
		background-color: #eee;
		cursor: pointer;
		color: #607d8b;
	}
}

h3 {
	text-align: center;
}

a {
	text-decoration: none;
}
